Jeg ønsker at vi snakker norsk
Jeg er elev på Nyskolen i Oslo og skal lage en skoleavis på nettet.
Jeg vil lage den i React og det skal gå å legge ut artikler for andre elever som har tilgang.

Det er viktig at jeg kan teste dette lokalt uten noe skytjenester.

Ikke spør om at jeg er klar til og gjøre dette bare, kjør på.
